#layers {
  position: relative;
  float: left;
  overflow: auto;
  width: 150px;
  height: 500px;
}

#layers #layers_wrapper {
  position: absolute;
  bottom: 0;
}

#layers.oversize #layers_wrapper {
  position: relative;
}

#layers canvas {
  display: block;
  border: 1px solid #000;
  background: url('../img/checked.jpg') repeat;
  float: left;
}

#layers .layer.selected canvas {
  border: 2px solid blue;
}

#layers .layer {
  float: left;
  position: relative;
  margin: 10px;
  width: 115px;
}

#layers .buttons {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

#layers .buttons .button {
  width: 12px;
  height: 12px;
  text-indent: -9999px;
}

#layers .buttons .delete_button {
  background: url(../img/icons/trash.png) no-repeat;
}

#layers .buttons .send_backwards_button {
  background: url(../img/icons/arrow-down.png) no-repeat 1px 5px;
}

#layers .buttons .bring_forward_button {
  background: url(../img/icons/arrow-up.png) no-repeat 1px 2px;
}

#layers .layer .name {
  clear: both;
}

canvas#editor {
  background: url('../img/checked.jpg') repeat;
  float: left
}

.canvas-container {
  float: left;
}

#buttons {
  padding: 10px;
}

#load_file {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  background: url(../img/icons/photo-add.png) no-repeat 4px 4px;
  cursor: pointer;
  position: relative;
}

#load_file_form {
  opacity: 0; 
  filter:alpha(opacity: 0);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

#toolbox {
  width: 100px;
  height: 500px;
  float: left;
}

#toolbox .tool {
  width: 25px;
  height: 25px;
}

#toolbox .tool.selected {
  border: 1px solid blue;
}

#selection_tool {
  background: url(../img/icons/transform_tool.png) no-repeat 4px 4px;
}

#rectangle_tool {
  background: url(../img/icons/rectangle_tool.png) no-repeat 4px 4px;
}

#brush_tool {
  background: url(../img/icons/brush_tool.png) no-repeat 4px 4px;
}
